body {
    background-color: azure;
}

nav {
    height: 5;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}

.main_menu ul {
    display: flex;
    gap: 40px;
}

.main_menu a {
    color: #07172e;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

